<h1>Employee Details</h1>
<div>
  <p>Employee ID: {{employeeId}}</p>
</div>
<form [formGroup]="employeeDetailsForm" (ngSubmit)="onSubmit(employeeDetailsForm.value)">
  <div>
    <label for="firstName">First Name</label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div>
    <label for="lastName">Last Name</label>
    <input id="lastName" type="text" formControlName="lastName">
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
  </div>
  <div>
    <label for="verifyPassword">Verify Password</label>
    <input id="verifyPassword" type="password" formControlName="verifyPassword">
  </div>
  <div>
    <label for="employeeType">Employee Type</label>
    <select id="employeeType" type="string" formControlName="employeeType">
      <option>General Manager</option>
      <option>Shift Manager</option>
      <option>Cashier</option>
    </select>
  </div>
  <button class="button" type="submit">Save</button>
</form>
