 <mat-card [style.backgroundColor]="'#000000'">
    <mat-toolbar [style.backgroundColor]="'rgba(255, 255, 255, 0)'">
        <span> Roombaaa </span>
    </mat-toolbar>
</mat-card>

 <br>

<mat-card [style.backgroundColor]="'rgba(173, 173, 173, 0.21)'">
	<form id="submit-form">
		<div class="grid">
				<input #string type="text" class="form-control" id="string" name="string" placeholder="what should I say?">
				<button mat-raised-button color="accent" type="button" class="btn btn-primary" (click)='submit(string.value);'>
					Submit
				</button>
		</div>
	</form>
		<hr>
		
		<ul>
			<li *ngFor="let string of strings">
				{{string.text}}
			</li>
		</ul>
</mat-card>


