 <mat-card [style.backgroundColor]="'rgba(255, 255, 255, 0)'">
    <mat-toolbar [style.backgroundColor]="'rgba(255, 255, 255, 0)'">
        <span> bitly link </span>
    </mat-toolbar>
</mat-card>

 <br>

<mat-card [style.backgroundColor]="'rgba(173, 173, 173, 0.21)'">
	<form id="submit-form">
		<div class="grid">
				<input #string type="text" class="form-control" id="string" name="string" placeholder="what should I say?">
				<button mat-raised-button color="accent" type="button" class="btn btn-primary" (click)='submit(string.value);'>
					Submit
				</button>
		</div>
	</form>
		<hr>
		
		<mat-card class="textCards" id="first">
			{{strings[0].text}}
		</mat-card>

		<mat-card class="textCards" *ngFor="let string of strings | slice:1">
			{{string.text}}
		</mat-card>
</mat-card>


