<h1>Product Details</h1>
<form [formGroup]="productDetailsForm" (ngSubmit)="onSubmit(productDetailsForm.value)">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="lookupCode">Lookup Code</label>
        <input id="lookupCode" type="text" formControlName="lookupCode">
    </div>
    <div>
        <label for="count">Count</label>
        <input id="count" type="number" formControlName="count">
    </div>
    <button *ngIf="isManager" class="button" type="submit">Save</button>
</form>
<button *ngIf="isManager" class="button" (click)="deleteClicked()">Delete</button>
