<button (click)="transaction()">Start Transaction</button> 
<div id="ErrorTransaction" hidden>
    <p>This functionality has not yet been implemented.</p>
</div>
<br/> 

<button (click)="products()">View Products</button>
<br/>

<button *ngIf="manager" (click)="createEmployee()">View Employees</button>
<br/>

<button *ngIf="manager" (click)="salesReport()">Sales Report</button> 
<div id="ErrorSales" hidden>
    <p>This functionality has not yet been implemented.</p>
</div>
<br/>

<button *ngIf="manager" (click)="cashierReport()">Cashier Report</button> 
<div id="ErrorCashier" hidden>
    <p>This functionality has not yet been implemented.</p>
</div>
<br/>